$base-font: 'Raleway', sans-serif

$red-color: #d20a3c
$blue-color: #009
$almost-black-color: #333

/* ------ vars ----- */

@media (min-width: 960px)

  .Frame
    &:after, &:before
      border-width: 12px

  .Frame__transitionOverlay
    left: 12px
    top: 12px
    right: 12px
    bottom: 12px

  .FrameInner
    padding: 12px

  .Header
    left: 12px
    top: 12px
    right: 12px

  .PrimaryNav__inner
    overflow: visible
    height: 80px
    position: relative
    flex-direction: row
    padding-left: 24px
    padding-right: 24px

  .PrimaryNav__navBar
    display: flex
    order: 1
    flex: 0 1 auto
    margin-right: 16px
    width: 100%
    max-width: 145px
    background-color: transparent

  .PrimaryNav__logo
    width: 100%
    max-width: 145px
    min-width: 116px
    padding: 0

  .PrimaryNav__navToggle
    display: none
  
  .PrimaryNav__LanguageSwitch
    order: 3
    min-width: 145px
    width: auto
    display: flex
  
  .PrimaryNav__navItemsWrapper
    display: block
    order: 2
    max-width: 100%

  .PrimaryNav__navItems
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    max-width: 940px
    padding-top: 4px
    margin-left: auto
    margin-right: auto

  .PrimaryNav__navItem

    &:before
      content: ''
      position: absolute
      left: 50%
      bottom: 1px
      transform: translateX(-50%)
      width: 100%
      height: 100%
      border: 3px solid transparent
      transition: border .3s ease-in-out

    &:hover
      &:before
        border: 3px solid $almost-black-color

      &.active
        &:before
          border: 3px solid transparent

  .HeroImage__wrapper
    margin-bottom: 100px

  .HeroImage__text
    h1
      font-size: 40px
      font-weight: 700

  .HeroImage__logo
    max-width: 250px

  .HeroImage__box
    width: 80%
    height: 110px
    flex-direction: row
    padding: 0 30px
    justify-content: space-between

    .HeroBox__text
      margin-bottom: 0


  .ValuesSlider, .OfficePhotos
    margin-bottom: 100px

  .OfficePhotos
    white-space: normal
    position: relative
    width: 100%

  .OfficePhotos__static
    align-items: flex-start
    width: 100%
    padding: 20px 0
    max-width: 1200px
    position: relative
    flex-direction: row

  .OfficePhotos__photo
    flex: 1

    &:after
      content: ''
      // border: 4px solid $almost-black-color
      width: 90%
      height: 100%
      position: absolute

    img
      width: 90%

    &:first-child
      margin-right: 5px
  
  .OfficePhoto--1

    &:after
      top: -20px
      left: 20px

  .OfficePhoto--2
    margin-top: 35px

    img
      left: 0

    &:after
      top: 20px
      left: 20px

  .OfficePhotos__button
    position: absolute
    bottom: 60px
    right: 60px

  .ReasonsToJoin
    margin: 0 auto 120px
    width: 960px
    max-width: 100%

  .ReasonsToJoin__item
    padding: 30px 20px

    &:hover

      &:nth-child(even)
        .ReasonsToJoin__toggleTittle
          color: $red-color

      &:nth-child(odd)
        .ReasonsToJoin__toggleTittle
          color: $blue-color

  .OurPeople
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    white-space: normal
    margin: 0 auto 100px
    max-width: 1100px

  .OurPeople__item
    margin: 0 60px 0 20px
    max-width: 100%

  .OurPeople--left
    &:hover

      .OurPeople__name
        left: -15px

  .OurPeople--right
    &:hover

      .OurPeople__name
        right: -15px
      
  .Interesting
    margin-bottom: 100px

@media (min-width: 1000px)

  .Frame
    &:after, &:before
      border-width: 16px

  .Frame__transitionOverlay
    left: 16px
    top: 16px
    right: 16px
    bottom: 16px

  .FrameInner
    padding: 16px

  .Header
    left: 16px
    top: 16px
    right: 16px