doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Project A - Team

		link(rel="stylesheet" type="text/css" href="css/reset.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="css/responsive.css")
		link(rel="stylesheet" type="text/css" href="css/libs/slick.css")
	
		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

		link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet")


	body

		.DefaultTemplate
			.Frame

			.FrameInner

				header.Header

					header

						.PrimaryNav

							input#navToggle.PrimaryNav__toggleCheckbox(type="checkbox")

							.PrimaryNav__inner

								.PrimaryNav__navBar

									.PrimaryNav__logo
										include assets/logo.svg

									label.PrimaryNav__navToggle(for='navToggle')
										.PrimaryNav__navToggleLabel Menu
										include assets/menu-toggle-arrow.svg

								.PrimaryNav__LanguageSwitch
									.LanguageSwitch__inner
										a(href="#") DE

									.LanguageSwitch__inner.active
										a(href="#") EN

								.PrimaryNav__navItemsWrapper
									.PrimaryNav__navItems

										a.PrimaryNav__navItem(href="https://www.project-a.com/en/about-us/who-we-are") About us
								
										a.PrimaryNav__navItem(href="https://www.project-a.com/en/portfolio") Portfolio
								
										a.PrimaryNav__navItem.active(href="https://www.project-a.com/en/career/jobs") Career
								
										a.PrimaryNav__navItem(href="https://www.project-a.com/en/media/press-releases") Media
								
										a.PrimaryNav__navItem(href="https://insights.project-a.com/?_ga=2.118208204.459192353.1510408628-1291780359.1510408628") Insights
								
										a.PrimaryNav__navItem(href="https://www.project-a.com/en/contact") Contact

				.HeroImage__wrapper

					.HeroImage__items
						.HeroImage__logo
							img(src="images/projecta-logo.png")
						.HeroImage__text
							h1 Join our team at Project A

					.HeroImage__box

						.HeroBox__text
							h2 Take a look at our current job postings.

						.HeroBox__btn
							a.Button.Button--primary(href="https://www.project-a.com/en/career/jobs")
								.Button__inner
									| See job offerings
									include assets/button-arrow.svg

				.MainTitle
					h2 Our Values

				.ValuesSlider

					.ValuesSlider__item
						h3 Venture Success First
					.ValuesSlider__item
						h3 Knowledge Sharing
					.ValuesSlider__item
						h3 Use Data & Think One Step Ahead
					.ValuesSlider__item
						h3 Obligation to Dissent
					.ValuesSlider__item
						h3 No Assholes Allowed
					.ValuesSlider__item
						h3 Reliable Partners
					.ValuesSlider__item
						h3 Hands-on Working Style
					.ValuesSlider__item
						h3 Fix Now, Don’t Complain Later
					.ValuesSlider__item
						h3 Change Is Good

					a.Button.Button--primary(href="https://www.project-a.com/en/about-us/who-we-are")
						.Button__inner
							| Learn more About us
							include assets/button-arrow.svg

				.MainTitle
					h2 Reasons to join

				.ReasonsToJoin

					.ReasonsToJoin__item
						.ReasonsToJoin__toggleTittle
							h3 Excellence and Team Spirit
							include assets/menu-toggle-arrow.svg

						p.ReasonsToJoin__text
							| At Project A, you will work together with experienced specialists in the areas of business intelligence, software development, product management, online marketing, human resources, design, sales and communication. We value individual performance just as highly as team spirit and believe firmly that the best idea is the one that should be realized – no matter whether it comes from an intern or our managing director.
							br
							br
							| We work hard to promote solidarity and a sense of community at Project A, among other ways by organising tons of events and activities, such as regular team events, parties and sports and fitness groups.

					.ReasonsToJoin__item
						.ReasonsToJoin__toggleTittle
							h3 Never Stop Learning
							include assets/menu-toggle-arrow.svg

						p.ReasonsToJoin__text
							| As an operative VC, the knowledge of our experts is our most important capital. It drives our ventures forward and shapes the future of our branch. We support the further development of our employees by providing opportunities to participate in further training, workshops and conferences, as well as offering our own formats within the company across the breadth of our portfolio to promote the interdisciplinary exchange of knowledge.
							br
							br
							| We are constantly on the lookout for qualified applicants who would like to develop themselves and grow with us. The dynamic nature of the sector we operate in and our own expanding portfolio mean that new career possibilities are always opening up.

					.ReasonsToJoin__item
						.ReasonsToJoin__toggleTittle
							h3 Open Company Culture with Strong Values
							include assets/menu-toggle-arrow.svg

						p.ReasonsToJoin__text
							| Transparency and an open exchange of ideas are essential for the success of our business – both within our teams and across all departments. By holding weekly “all-hands” meetings, an annual strategy day and regular portfolio reviews, together we gain an overview of current issues. Here everyone can contribute their own suggestions and ideas and play an active role in shaping our company culture. That’s why we also encourage everyone to take part in our regular feedback processes.
							br
							br
							| The exchange of knowledge, mutual respect, dependability and a pragmatic approach to work are several of the core values that unite us as a team.

					.ReasonsToJoin__item
						.ReasonsToJoin__toggleTittle
							h3 Many Other Benefits
							include assets/menu-toggle-arrow.svg

						p.ReasonsToJoin__text
							| From muesli and fresh fruit, to good coffee and a variety of beverages, all the way to the annual flu vaccination – you’ll be well taken care of with us. On top of that, our lounge, several outdoor terraces and our game room offer space for diverting breaks and casual meetings. Last not least, you will be able to take advantage of a number of gift certificates and discounts that our ventures make available to us.

				.MainTitle
					h2 Life in the office

				.OfficePhotos

					.OfficePhotos__static
						.OfficePhotos__photo.OfficePhoto--1
							img(src='images/office-1.jpg')
						.OfficePhotos__photo.OfficePhoto--2
							img(src='images/office-2.jpg')

						a.Button.Button--primary.OfficePhotos__button(href="https://www.instagram.com/projectaberlin/" target="_blank")
							.Button__inner
								| Check our Instagram
								include assets/button-arrow.svg

				.MainTitle
					h2 Meet the team

				.OurPeople
					.OurPeople__item.OurPeople--right
						img.OurPeople__photo(src='images/people/person-1.jpg')
						.OurPeople__name Mathis Gerhold

					.OurPeople__item.OurPeople--left
						img.OurPeople__photo(src='images/people/person-2.jpg')
						.OurPeople__name Mandy Leone

					.OurPeople__item.OurPeople--right
						img.OurPeople__photo(src='images/people/person-3.jpg')
						.OurPeople__name Pauline Gudrun

					.OurPeople__item.OurPeople--left
						img.OurPeople__photo(src='images/people/person-4.jpg')
						.OurPeople__name Vinzent Emmerich

					.OurPeople__item.OurPeople--left
						img.OurPeople__photo(src='images/people/person-5.jpg')
						.OurPeople__name Anna Heinrike

					.OurPeople__item.OurPeople--right
						img.OurPeople__photo(src='images/people/person-7.jpg')
						.OurPeople__name Quin Samson
			

				.MainTitle.Interesting
					h2 Sounds interesting?
					h3 Take a look at our current job postings.

					a.Button.Button--primary(href="https://www.project-a.com/en/career/jobs")
						.Button__inner
							| See job offerings
							include assets/button-arrow.svg

			.Frame__transitionOverlay
				include assets/logo-overlay.svg

		script(src='js/libs/jquery-3.2.1.min.js')
		script(src='js/libs/slick.min.js')
		script(src='js/main.js')