$base-font: 'Raleway', sans-serif

$red-color: #d20a3c
$blue-color: #009
$almost-black-color: #333

/* ------ vars ----- */

html
	width: 100%
	height: 100%
	font-size: 16px

body
	width: 100%
	height: 100%
	font-family: $base-font
	background-color: #fff
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased

a
	color: #333

p
	text-rendering: optimizeLegibility
	font-feature-settings: "kern" 1
	font-kerning: normal

/* ------ Normalize ----- */

*,
*:after,
*:before
	box-sizing: border-box
	padding: 0
	margin: 0

*
	::-moz-selection
		background: #f9f3eb

	::selection
		background: #f9f3eb

ul
	list-style: none

img
	border: none