.Header
  transition: left .3s,top .3s,right .3s
  left: 8px
  top: 8px
  right: 8px
  position: fixed
  z-index: 98

.PrimaryNav
  color: inherit
  font-size: 16px
  line-height: 1em
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.07)

.PrimaryNav__toggleCheckbox
  position: absolute
  top: -9999px
  left: -9999px
  opacity: 0

.PrimaryNav__inner, .PrimaryNav__navBar
  height: 48px
  display: flex
  align-items: center

.PrimaryNav__inner
  flex-direction: column
  justify-content: flex-start
  position: relative
  background: #fff

.PrimaryNav__navBar
  width: 100%
  flex: 0 0 auto
  justify-content: center

.PrimaryNav__logo
  flex: 1
  flex-shrink: 0
  width: 100%
  padding: 8px 0 8px 16px
  max-width: 116px
  height: auto

.PrimaryNav__navToggle
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex: 2
  position: relative
  height: 100%
  padding-top: 8px
  font-size: 12px
  appearance: none
  outline: none
  box-shadow: none
  cursor: pointer

.PrimaryNav__navToggleLabel
  font-weight: 700
  font-size: 13px

.PrimaryNav__chevronDown
  width: 13px
  height: 8px
  transition: transform .3s
  flex: 0 0 auto

.PrimaryNav__LanguageSwitch
  width: 100%
  color: inherit
  line-height: 1em
  text-transform: uppercase
  font-size: 12px
  flex-shrink: 0

.LanguageSwitch__inner
  display: inline-block
  position: relative
  width: 100%
  padding: 16px
  text-align: right

  &:last-child
    text-align: left

    &:before
      content: ''
      position: absolute
      top: 50%
      left: 0
      width: 1px
      height: 20px
      transform: translateY(-50%)
      border-left: 1px solid
      border-color: inherit

  a
    font-size: 16px
    font-weight: 700
    text-decoration: none
    position: relative

  &.active
    a
      &:after
        content: ''
        position: absolute
        bottom: -4px
        left: 50%
        transform: translateX(-50%)
        width: 22px
        height: 4px
        background-color: #3ac0c4

.PrimaryNav__navItemsWrapper, .PrimaryNav__navItems
  flex: 1 0 auto
  flex-direction: column

.PrimaryNav__navItemsWrapper
  display: flex

.PrimaryNav__navItems
  justify-content: space-around
  align-items: center

.PrimaryNav__navItem
  position: relative
  display: block
  padding: 8px
  margin: 8px
  text-align: center
  font-size: 16px
  font-weight: 700
  text-decoration: none
  width: 100%

  &.active
    &:after
      content: ''
      position: absolute
      bottom: -2px
      left: 50%
      transform: translateX(-50%)
      width: 100%
      height: 4px
      background-color: #3ac0c4

.PrimaryNav__LanguageSwitch, .PrimaryNav__navItems
  display: none
  animation: openNav .3s ease-in-out, opacityIn .6s ease-in-out

.PrimaryNav__toggleCheckbox
  &:checked ~ .PrimaryNav__inner
    // position: fixed
    z-index: 2
    justify-content: space-between
    overflow: hidden
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: calc(100vh - 16px)

    .PrimaryNav__LanguageSwitch, .PrimaryNav__navItems
      display: flex