body
  overflow-y: scroll
  overflow-x: hidden
  position: fixed

.DefaultTemplate
  display: flex
  flex-flow: column nowrap

// Generic

.MainTitle
  margin-bottom: 40px

  h2
    font-size: 30px
    font-weight: 600
    text-align: center
    margin-bottom: 5px

  h3
    font-size: 20px
    font-weight: 300
    text-align: center
    margin-bottom: 5px

.Button
  display: inline-block
  width: auto
  padding: 0
  color: #fff
  font-size: 16px
  line-height: 1.5em
  text-align: center
  color: inherit
  cursor: pointer
  transition: color .3s ease-in-out,text-decoration .3s ease-in-out
  text-decoration: none

.Button__icon
  width: 12px
  margin-left: 4px
  fill: #fff
  transition: fill .3s ease-in-out

.Button--primary
  min-width: 220px
  font-size: 16px
  color: #fff
  background-color: $blue-color
  transition: background-color .3s ease-in-out

  &:hover
    background-color: $red-color

.Button__inner
  display: flex
  justify-content: center
  align-items: center
  padding: 16px 32px
  font-weight: 700


// Frames

.Frame
  position: fixed
  width: 100%
  height: 100vh
  z-index: 99
  pointer-events: none

  &:after, &:before
    transition: border-width .3s
    content: ""
    position: absolute
    width: 100%
    height: 100%
    box-sizing: border-box
    border: 8px solid #d10a3c

  &:before
    display: block
    border-image: linear-gradient(135deg,#009,#d20a3c) 1

  &:after
    display: block
    border-image: -webkit-linear-gradient(135deg,#009,#d20a3c) 1
    border-image: linear-gradient(315deg,#009,#d20a3c) 1
    opacity: 0
    animation: gradientAnimation 15s ease-in-out infinite
    will-change: opacity

.FrameInner
  display: flex
  flex-flow: column nowrap
  padding: 8px
  min-height: 100vh
  transition: padding .3s

.Frame__transitionOverlay
  z-index: 102
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  transition: opacity .6s
  opacity: 1
  background-color: #fff
  will-change: opacity
  left: 8px
  top: 8px
  right: 8px
  bottom: 8px
  pointer-events: none

.PageLoaded
  overflow: auto
  position: relative

  .Frame__transitionOverlay
    opacity: 0

// Sections

.HeroImage__wrapper
  width: 100%
  height: 530px
  background-image: url('../images/hero-image.jpg')
  background-position: center center
  background-size: cover
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  position: relative
  margin-bottom: 50px

  &:before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: $almost-black-color
    opacity: 0.2
    z-index: 1

.HeroImage__items
  flex-grow: 1
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: relative
  z-index: 2

.HeroImage__logo
  max-width: 200px
  max-height: 210px

  img
    width: 100%

.HeroImage__text
  h1
    color: #ffffff
    font-size: 23px
    font-weight: 600

.HeroImage__box
  flex-grow: 0
  width: 100%
  height: 180px
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center
  border-bottom: 1px solid #e8e8e8
  position: relative
  z-index: 2
  padding: 0 30px

.HeroBox__text
  margin-bottom: 20px

  h2
    color: $almost-black-color
    font-size: 22px
    font-weight: 600

.ValuesSlider
  display: flex
  flex-direction: row
  margin-bottom: 60px
  text-align: center

  &.slick-initialized
    
    .slick-slide
      width: 150px
      height: 150px
      display: flex

  .slick-list
    height: 300px

  .slick-track
    top: 50px

.ValuesSlider__item
  padding: 10px 10px 20px
  width: 150px
  height: 150px
  margin: 0 20px
  text-align: left
  flex: 0 0 auto
  justify-content: center
  align-items: flex-end
  background-color: #fff
  outline: none
  user-select: none
  border: 2px solid #e4e4e4
  color: #e4e4e4
  transition: all 0.5s 0.3s
  transform: scale(0.85)

  &.slick-active
    transform: scale(1)
    border: 4px solid $almost-black-color
    color: $almost-black-color
    box-shadow: 0 0 30px #d20a3c
    transition: all 0.8s 0

    &:nth-child(odd)
      border: 4px solid $red-color
      color: $red-color
      box-shadow: 0 2px 60px rgba(210, 10, 75, 0.4)

    &:nth-child(even)
      border: 4px solid $blue-color
      color: $blue-color
      box-shadow: 0 2px 60px rgba(10, 35, 210, 0.4)

  h3
    font-size: 20px
    font-weight: 700
    color: inherit


.OfficePhotos
  display: flex
  justify-content: center
  align-items: center
  max-width: 95%
  margin: auto
  margin-bottom: 60px

.OfficePhotos__static
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.OfficePhotos__photo
  display: inline-block
  max-width: 90%
  position: relative

  &:after
    content: ''
    border: 4px solid $almost-black-color
    width: 100%
    height: 100%
    position: absolute

  img
    width: 100%

.OfficePhoto--1
  align-self: self-start

  &:after
    top: -10px
    left: 10px
    border-image: linear-gradient(135deg, #009, #d20a3c) 1

.OfficePhoto--2
  margin-top: 35px

  img
    position: relative
    left: 13px

  &:after
    top: 10px
    left: 0
    border-image: linear-gradient(315deg, #009, #d20a3c) 1

.OfficePhotos__button
  margin-top: 40px
  position: relative


.ReasonsToJoin
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin-bottom: 60px

.ReasonsToJoin__item
  padding: 20px 20px
  border-bottom: 1px solid #e8e8e8
  width: 100%
  cursor: pointer

  &.SlideDown

    &:nth-child(even)
      .ReasonsToJoin__toggleTittle
        color: $red-color

    &:nth-child(odd)
      .ReasonsToJoin__toggleTittle
        color: $blue-color

    .Icon
      transform: rotate(180deg)

.ReasonsToJoin__toggleTittle
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  color: $almost-black-color

  h3
    font-size: 20px
    font-weight: 600
    color: inherit

.ReasonsToJoin__text
  font-size: 15px
  line-height: 25px
  margin-top: 20px
  overflow: hidden
  position: relative
  text-align: left
  display: none

.OurPeople
  display: block
  white-space: nowrap
  overflow: auto
  -webkit-overflow-scrolling: touch
  margin-bottom: 80px

.OurPeople__item
  margin: 0 30px
  max-width: 60%
  display: inline-block

  .OurPeople__photo
    width: 100%

.OurPeople__name
  font-size: 16px
  font-weight: 600
  position: relative
  background-image: linear-gradient(51.14deg, #009, #d20a3c)
  padding: 3px 8px
  color: #fff
  transition: left 0.3s ease-out, right 0.3s ease-out

  &:hover

.OurPeople--left

  .OurPeople__name
    top: -60px
    left: -20px
    text-align: left

.OurPeople--right

  .OurPeople__name
    top: -40px
    right: -20px
    text-align: right

.Interesting
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-bottom: 50px

  h3
    margin-bottom: 30px
    padding: 0 20px

@keyframes gradientAnimation
  0%
    opacity: 0
  50%
    opacity: 1
  to
    opacity: 0

@keyframes openNav
  0%
    transform: translateY(-2vh)
  to
    transform: translateY(0)
    
@keyframes opacityIn
  0%
    opacity: 0
  to
    opacity: 1